asgiref==3.12.1
Django==6.1
djangorestframework==3.18.0
python-dotenv==1.2.3
sqlparse==0.6.0
grpcio==1.83.0
grpcio-tools==1.83.0
protobuf==5.29.1
psycopg[binary]==3.3.4
mypy==2.3.1
django-stubs==6.1.0
djangorestframework-stubs==3.18.0
types-protobuf==7.34.1.20260816
